/* CSS declarations go here */
@blue: #03a9f4;

nav {
  .brand-logo {
    & > img {
      position: relative;
      padding: 5px;
      height: 64px;
    }
  }

  .navbar-filter {
    line-height: 64px;
    font-size: 50px;
  }
}

#sidenav-overlay {
  z-index: 990;
}

.unioty-tweet, .unioty-sub-tweet {
  background-color: white;
  margin: 10px;
  padding: 10px;

  .row {
    margin: 0;
  }

  .unioty-tweet-date {
    font-size: 20px;
  }

  .unioty-reply {
     -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
     -ms-transform: rotate(180deg);
     -o-transform: rotate(180deg);
     transform: rotate(180deg);
     font-size: 21px;
     line-height: 21px;
    vertical-align: middle;
   }

  .unioty-tweet-time {
    font-size: 20px;

  }

  .unioty-tweet-content {
    margin: 10px 0;

    .unioty-tweet-image-container {
      margin-right: 15px;

      .unioty-tweet-image {
        height: 75px;
        width: 75px;
      }
    }

    .unioty-tweet-message-container {

      .unioty-tweet-message {
        font-size: 25px;
        .unioty-displayName {
          font-weight: bold;
        }
      }
    }
  }

  .unioty-tweet-button {
    line-height: 20px;
    font-size: 20px;
    cursor: default;
    color: grey;

    &.unioty-like, &.unioty-unlike {
      cursor: pointer;
      color: @blue;
    }

    .material-icons {
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      color: white;
      vertical-align: middle;
      font-size: 23px;
      line-height: 23px;
      margin-right: 5px;
    }

    &.active {
      .material-icons {
        text-shadow: none;
        color: @blue;
      }
    }
  }
}

.unioty-has-sub-tweet {
  margin-bottom: 5px;
}

.unioty-sub-tweet {
  margin: 0 25px 5px 25px;
}

.critical {
  // red lighten-3
  background-color: #ef9a9a;
}

.warning {
  // amber accent-1
  background-color: #ffe57f;
}

.acquitted {
  // light-green accent-1
  background-color: #ccff90;
}

.none {
  background-color: white;
}

.footer-fixed {
  height: 100px;
  margin-top: 10px;
  position: relative;
}

.footer-container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #b0bec5;
  height: 100px;
  background: white;

  .footer-wrapper {
    padding: 10px;
    .unioty-send-tweet-img i {
      font-size: 75px;
    }

    .unioty-send-tweet-message {
      width: ~"calc(100% - 175px)";
      padding: 0 10px;
    }

    button {
      width: 75px;
      margin: 25px 0 10px 0;
    }
  }
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid @blue;
  box-shadow: 0 1px 0 0 @blue;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: @blue;
}

[type="checkbox"]:checked + label:before {
  border-right: 2px solid @blue;
  border-bottom: 2px solid @blue;
}

.input-field.col .dropdown-content [type="checkbox"] + label {
  top: -10px;
}

.unioty-filter-container {
  position: fixed;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100000;
  height:0;
  transition: background-color 0.3s ease;

  .unioty-filter-close {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 50%;
    left: 0;
  }

  .unioty-filter {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 50%;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
    transition: transform 0.3s;
    background: white;
    padding: 10px;
  }

  &.unioty-filter-display {
    height:100%;
    background-color: rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;

    .unioty-filter {
      -webkit-transform: translateX(0);
      -moz-transform: translateX(0);
      -ms-transform: translateX(0);
      -o-transform: translateX(0);
      transform: translateX(0);
      transition: transform 0.3s;

      .unioty-filter-close-cross {
        cursor: pointer;
        font-size: 30px;
      }
    }
  }
}