<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>unioty</title>
</head>

<body class="blue-grey lighten-5">
{{> navbar}}
<h4 class="center-align">Fil d'actualités</h4>

{{#each getTweets}}
    {{> tweet}}
{{/each}}

{{> footer}}
{{> tweetFilter}}
</body>

<template name="navbar">
    <div class="navbar-fixed">
        <nav class="blue lighten-2">
            <div class="nav-wrapper">
                <a href="#!" class="brand-logo"><img src="images/logo.png" alt=""></a>
                <a href="#!" class="right"><span class="material-icons navbar-filter">filter_list</span></a>
                <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="side-nav" id="mobile-menu">
                    <li><a href="sass.html">Configuration</a></li>
                    <li><a href="badges.html">Informations générales</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <script type="application/javascript">
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            $('select').material_select();
        })
    </script>
</template>

<template name="tweet">
    <div class="row z-depth-2 unioty-tweet {{getSeverity severity}} {{#if isSub sub}}unioty-sub-tweet{{/if}} {{#if hasSub
                                                                                          parent}}unioty-has-sub-tweet{{/if}}">
        <div class="row">
            <div class="col s6">
                <span class="unioty-tweet-date blue-grey-text lighten-3">
                    {{#if isSub sub}}
                        <i class="material-icons unioty-reply">reply</i>
                    {{/if}}
                    Le {{formatDate created}}
                </span>
            </div>
            <div class="col s6 right-align">
                <span class="unioty-tweet-time blue-grey-text lighten-3">
                    {{diffDate created}}
                </span>
            </div>
        </div>
        <div class="row unioty-tweet-content">
            <div class="unioty-tweet-image-container left">

                <img class="unioty-tweet-image" src="{{getURLOfType iot.type}}">
            </div>
            <div class="unioty-tweet-message-container left">
                <span class="unioty-tweet-message">
                    <span class="unioty-displayName">{{getDisplayName iot.displayName}}</span><br/>
                    {{text}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col s6 center-align">
                <a class="unioty-tweet-button {{#unless unlike}}unioty-like{{/unless}} {{#if like}}active{{/if}}" href="#!"><i class="material-icons">thumb_up</i>J'aime</a>
            </div>
            <div class="col s6 center-align">
                <a class="unioty-tweet-button {{#unless like}}unioty-unlike{{/unless}} {{#if unlike}}active{{/if}}" href="#!"><i class="material-icons">thumb_down</i>Je n'aime pas</a>
            </div>
            <!--{{#unless isSub sub}}
                <div class="col s4 center-align">
                    <a class="unioty-tweet-button" href="#!"><i class="material-icons">arrow_drop_down_circle</i></a>
                </div>
            {{/unless }}-->
        </div>
    </div>
</template>

<template name="footer">
    <form class="new-tweet">
        <div class="footer-fixed">
            <div class="footer-container">
                <div class="footer-wrapper">
                    <div class="left unioty-send-tweet-img">
                        <i class="material-icons blue-text lighten-3">account_circle</i>
                    </div>
                    <div class="left unioty-send-tweet-message">
                        <div class="input-field">
                            <input type="text" name="text" placeholder="Que voulez-vous dire?"/>
                        </div>
                    </div>
                    <button type="submit" class="btn waves-effect waves-light blue lighten-2"><i class="material-icons">send</i></button>
                </div>
            </div>
        </div>
    </form>
</template>

<template name="tweetFilter">
    <div class="unioty-filter-container {{#if isFilterDisplay}}unioty-filter-display{{/if}}">
        <div class="unioty-filter-close unioty-filter-close-action"></div>
        <div class="unioty-filter">
            <h4 class="center-align">Filtres<i class="material-icons right unioty-filter-close-action unioty-filter-close-cross">close</i></h4>

            <div class="input-field col s12">
                <select multiple="true">
                    <option value="" disabled>Choisissez votre option</option>
                    <option value="ERROR">Critique</option>
                    <option value="WARNING">En résolution</option>
                    <option value="ACQUITTED">Retour à la normal</option>
                    <option value="INFO">Message classsique</option>
                </select>
                <label>Séverité des messages</label>
            </div>
        </div>
    </div>
</template>